<div class="widget-container">
    <div class="widget green">
        <div class="icon">
          <fa-icon [icon]="faTicketAlt"></fa-icon>
        </div>
        <div class="value">
          <div class="top">32</div>
          <div class="bottom">Tickets vendidos</div>
        </div>
      </div>

      <div class="widget yellow">
        <div class="icon">
          <fa-icon [icon]="faTicketAlt"></fa-icon>
        </div>
        <div class="value">
          <div class="top">32</div>
          <div class="bottom">Transportes Activos</div>
        </div>
      </div>

      <div class="widget red">
        <div class="icon">
          <fa-icon [icon]="faTicketAlt"></fa-icon>
        </div>
        <div class="value">
          <div class="top">32</div>
          <div class="bottom">Rotas populares</div>
        </div>
      </div>

      <div class="widget blue">
        <div class="icon">
          <fa-icon [icon]="faTicketAlt"></fa-icon>
        </div>
        <div class="value">
          <div class="top">32</div>
          <div class="bottom">Reservas Canceladas</div>
        </div>
      </div>
</div>
