<nav class="menu">

  <div class="item-menu">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <a routerLink="/dashboard/home">Dashboard</a>
  </div>

  <div class="item-menu">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <a routerLink="/dashboard/marca">Marca</a>
  </div>

  <div class="item-menu">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <a routerLink="/dashboard/classe-servico">Classe de serviço</a>
  </div>

  <div class="item-menu">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <a routerLink="/dashboard/tipo-transporte">Tipo de transporte</a>
  </div>

  <div class="item-menu">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <a routerLink="/dashboard/transporte">Transporte</a>
  </div>

  <div class="item-menu">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <a routerLink="/dashboard/provincia">Provincia</a>
    
  </div>

  <div class="item-menu">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <a routerLink="/dashboard/rota">Rotas</a>
  </div>

  <div class="item-menu">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <a routerLink="/dashboard/preco-viagem">Preço de Viagem</a>
  </div>

  <div class="item-menu">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <a routerLink="/dashboard/programacao">Programação</a>
  </div>

  <!-- <div class="item-menu">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <a href="">Assentos</a>
  </div>

 

  

  <div class="item-menu">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <a href="">Rolatório</a>
  </div> -->

  <div class="item-menu">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <button (click)="logout()">logout</button>
  </div>

</nav>
