:host ::ng-deep {
    
    .drop-down{
        width: 100%;
        margin-bottom: 0.75rem;
        border-radius: 0.75rem;
        border: 1px solid var(--gray-300);
        
        outline: none;
        
        
    } 
    .custom-calendar {
        width: 100%; 
        margin-bottom: 0.75rem;
        border-radius: 0.85rem;
        border: 1px solid var(--gray-300);
        
        outline: none;
        
    }

    
  }
  .container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    margin-top: 10px;
    
  }

  .programacoes{
    border: solid 2px #85939e;;
  }

  .programacoes h1{
    font-size: 16px;
    text-align: center;
  }

  .programacoes p{
    padding: 5px;
    font-size: 14px;

  }

  .btn-card{
    padding: 5px;
  }

  